@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);


.article {
 display: block;
 font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5;
  width: 70vw;
  margin-left: auto;
  margin-right: auto;
}

/* Small screens . */
@media only screen and (max-width: 900px){
	.article {
 
  width: 100vw;

}
}


h5.newspaper {
font-family: Georgia, "Times New Roman", Times, serif;
letter-spacing: .10em;
font-size: 36px;
text-transform: uppercase;
font-weight: 100;
border-bottom: groove 2px #CCCCCC;
width: auto;
line-height: 1em;
}