

.editor {
    height: 50vh;
    overflow-y: scroll;
 
}
.editor a {
    color: #08c;
}



.bor{
  background:#fff;
	border-top: 0;
	border-bottom: 0;
	width:70%;
  padding:20px;
	box-shadow:
  0 1px 1px rgba(0,0,0,0.15),
  0 10px 0 -5px #999,
  0 10px 1px -4px rgba(0,0,0,0.15),
  0 20px 0 -10px #ccc,
  0 20px 1px -9px rgba(0,0,0,0.15),0 0 40px rgba(0, 0, 0, 0.1) inset
}

.inputs{
width: auto;
  height:auto;
}
h5.newspaper {
font-family: Georgia, "Times New Roman", Times, serif;
letter-spacing: .10em;
font-size: 20px;
font-weight: 50;
border-bottom: groove 2px #CCCCCC;


  height:auto;
}

.inputed{
  width:60vw;
  height:auto;
  border:none;
  outline:none;
  background:none;
  padding:6px 3px;
}


