.userbtn
{
	width: 70px;
	height: 70px;
	border-radius: 50%;	
}

@import 'https://fonts.googleapis.com/css?family=Bungee+Shade';



:focus {
  outline: none;
}



button {
  border: 0;
  padding: 0;
  margin:8px;
}
.btn.stripedshadow span {
  display: block;
  position: relative;
  z-index: 2;
  border: 3px solid;
}

.btn.stripedshadow.dark span {
  border-color: #393939;
  background: #fff;
  color: #393939;
}

.btn {
 
  position: relative;
  
  transition: opacity .3s, z-index .3s step-end, -webkit-transform .3s;
  transition: opacity .3s, z-index .3s step-end, transform .3s;
  transition: opacity .3s,
    z-index .3s step-end,
    transform .3s,
    -webkit-transform .3s;
  
  cursor: pointer;
}

.btn {
  width: 85px;
  height: 40px;
  line-height: 32px;
}




button.btn.stripedshadow.dark:after, button.btn.stripedshadow.dark:before {
  background-image: linear-gradient(
    135deg,
    transparent 0,
    transparent 5px,
    #393939 5px,
    #393939 10px,
    transparent 10px
  );
}

button.btn.stripedshadow:hover:before {
  max-height: calc(100% - 12px);
}

button.btn.stripedshadow:hover:after {
  width: calc(100% - 15px);
}

button.btn.stripedshadow:after {
  width: calc(100% + 8px);
  height: 6px;
  left: -7px;
  bottom: -7px;
  background-size: 15px 8px;
  background-repeat: repeat-x;
}
button.btn.stripedshadow:after, button.btn.stripedshadow:before {
  content: '';
  display: block;
  position: absolute;
  z-index: 1;
  transition: max-height .3s, width .3s, -webkit-transform .3s;
  transition: transform .3s, max-height .3s, width .3s;
  transition: transform .3s, max-height .3s, width .3s, -webkit-transform .3s;
}

.btn.stripedshadow:hover {
  -webkit-transform: translate(-12px, 12px);
  -ms-transform: translate(-12px, 12px);
  transform: translate(-12px, 12px);
  z-index: 3;
}

button.btn.stripedshadow:hover:after, button.btn.stripedshadow:hover:before {
  -webkit-transform: translate(12px, -12px);
  -ms-transform: translate(12px, -12px);
  transform: translate(12px, -12px);
}
button.btn.stripedshadow:before {
  width: 6px;
  max-height: calc(100% - 5px);
  height: 100%;
  left: -8px;
  bottom: -4px;
  background-size: 8px 15px;
  background-repeat: repeat-y;
  background-position: 0 100%;
}
